*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    
    background-size: cover;
    font-family: 'Open Sans', sans-serif;

    background-color: whitesmoke;


}
text{
    padding: 5px;
}

.header{
    z-index: 1;
    background-size: cover;
    position: absolute;
    


}


.navbar{
    display: flex;
    background-color: #02043f62;
    color: white;
    padding: 0px 5px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    
}
.navbar::after {
    content: "";
    clear: both;
    display: table;
}

.navbar button{
    
    background-color: transparent;
    color: white;
    border-radius: 20px;
    float: right;
    border: 2px solid white;
    padding: 10px 20px;
    font-weight: bold;
    margin: 0;

    
    
    
    
}

.nav-btn:hover{
    background-color: #7a5e37;
    color: white;
}




ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    list-style-type: none;
    padding: 16px 0px;
    width: 100%;
    margin-right:20px ;
    
}

li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    margin: 0px 30px;
    padding: 10px 30px;
    
}

a:hover{
    text-shadow: white 2px 2px 20px, #ba9a6c 2px 2px 20px, #ba9a6c 2px 2px 20px, white 2px 2px 20px;
}

.logo{
   margin-right:240px;

}

.head{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 121vh;
    color: white;
    text-align: center;
    background-image: url(potrait-lawyer.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);
    
    
}

h1{
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    margin: 20px 0px;
    text-shadow: black  2px 2px 10px;
}
h2{
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    margin: 50px 0px;
    
    
}
p{
    font-size: 26px;
    margin: 02px 0px;
    background-color: #ba9a6c;
    color: black;
    font-family: 'Playfair Display', serif;
    
    
}

button{
    margin: 30px;
    padding: 12px 50px;
    color: white;
    background-color: #7a5e37;
    border: none;
    border-radius: 40px;
    font-weight: bold;
}
button:hover{
    background-color: #363772;
    cursor: pointer;
    color: white;
    box-shadow: white 2px 2px 20px, #ba9a6c 2px 2px 20px, #ba9a6c 2px 2px 20px, white 2px 2px 20px;
}


.mid{
    background-color: #ba9a6c;
    max-width: 100%;
    height: 120vh;
    display: flex;
    
}

.mid-img{
    height: 100%;
    width: 40%;
    position: relative;
    background-image: url(lady-justice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: -80px 80px;
    margin-left: 80px;
    box-shadow: black 2px 2px 10px;
    
}
.mid-text{
    width: 30%;
    padding: 30px;
    

}

.mid-text p{
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0px;
}

.numbers{
    display: flex;
    flex-direction: row;
    height: 200px;
    max-width: 100%;


}
.num{

    margin-left: 10px;
    margin-right: 150px;
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Playfair Display', serif;

}

.exp{
    background-color: #ba9a6c;
    max-width: 100%;
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 121vh;
    color: white;
    text-align: center;
    background-image: url(hammer.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0);

}

.exp img:hover{
    box-shadow: white 2px 2px 20px, #ba9a6c 2px 2px 20px, #ba9a6c 2px 2px 20px, white 2px 2px 20px;
    border-radius: 50%;

}

.practice{
    background-color: whitesmoke;
    max-width: 100%;
    height: 120vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;

}
.practice span{
    background-color: #ba9a6c;
    margin: 2px;
   font-size: large;
    
}
.practice .btn{
    width: 300px;
    font-weight: lighter;
}

.table{
    /* background-color: yellow; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    margin-top: 50px;

}

.box-main{
    /* background-color: tomato; */
    width: 450px;
    height: 550px;
    margin: px 0px;
    border-right: 0.2px solid #02043f62;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     


}
.box-mini{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(148, 127, 223); */
    width: 453px;
    height: 400px;
    font-family: 'Playfair Display', serif;
    font-size: larger;
    margin: 20px 0px;


    


}

.box-mini span{
    background-color: whitesmoke;
    border-bottom:  0.2px solid #02043f62;
    border-collapse: collapse;

    font-size:medium;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    padding: 40px 10px ;
}

.box-mini h3{
    margin-bottom: 5px;
}

.lawyers{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 150px; */
    margin-top: 100px;
    background-color: #ba9a6c;

}

.lawyers h2{
    text-shadow: none;
    

}

.videos{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
    /* background-color: tomato; */
    padding-bottom: 100px;
    
}

.video{
    /* background-color: turquoise; */
    /* height: 800px; */
    width: 30%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
    align-items: center;
    text-align: justify;
}

.img{
    display: flex;
    height: 250px;
    width: 370px;
    margin: 20px 5px;
    /* background-color: violet; */
    background-size: cover;
    align-items: center;
    justify-content: center;


}

.play-btn:hover{
    box-shadow: white 2px 2px 20px, #ba9a6c 2px 2px 20px, #ba9a6c 2px 2px 20px, #ba9a6c 2px 2px 20px;
    border-radius: 50%;
     


}
.para{
    font-weight: lighter;
    font-size: 18px;
    padding: 10px;
}

.sponsors{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 290px;


    
}
.sponsors h2{
    margin-bottom: 10px;
    padding: 0px;
}

.partner{
    width: 98%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 2px solid black;
    margin-bottom: 60px;


    
}

.partners{
    display: flex;
    align-items: center;
    justify-content: center;


    width: 85%;
    height: 170px;

}

.review{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 800px;
    background-color: tomato;
    color: white;
    padding: 100px 0px ;
    background-image: url(writting.jpg);
    background-size: cover;
    background-attachment: fixed;


}
.review h2{
    text-shadow: black 2px 2px 20px;
}

.comments{

    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}
.comment-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    width: 70%;
    height: 350px;
    margin: 0px 20px ;
    text-shadow: black 1px 2px 20px;

}

.contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 800px ;
    max-width: 100%;

}

.call{ 
    display: flex;
    align-items: center;

    flex-direction: column;
    padding-top: 100px;
    height: 700px ;
    max-width: 100%;
    background-color: brown;
    text-align: center;
    background-image: url(shiny-night-city-min.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.call h2{
    color: white;
    background-color: #ba9a6c ;
    padding: 20px;
    filter: opacity(90%);
    text-shadow: black 0px 0px 10px  ;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;



}
.form-text{  
    display: flex;

    height: 700px;
    width: 30%;
    /* margin: 0px 20px; */
    margin-top: -150px;
    padding: 10px 20px;
    flex-direction: column;
}

.form{  
    display: flex;

    align-items: left;

    height: 800px;
    width: 60%;
    margin-left: 150px;
    padding: 40px 100px;
    flex-direction: column;
}

#contact{

    color: #1a1b3f;
}

input{
    width: 500px;
    padding: 10px 60px;
    margin: 5px 20px;

}

textarea{
    width: 500px;
    margin-left: 20px;
}

#contact button{
    width: 130px;
    padding: 10px 30px ;
    margin-left: 400px;

}

.end{
    
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #1a1b3f;


}

.end .quote{

    width: 40%;
    height: 280px;
    padding: 40px;
    

}

.quote-txt{
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;



}

.end .footer-text{

    width: 20%;
    height: 280px;
    margin: 0px  40px;
    padding: 40px 0px;
    text-align: left;
}

.footer-text li {
    list-style-type: none;
    margin: 8px 0px;
    font-size: 16px;
}

footer{
    display: block;
    height: 80px;
    width: 100%;
    border-top: 0.1px solid gray;
    text-align: center;
    padding: 20px 0px;

}
.f-text{
    margin-right: 100px;
}

.fab{
    font-size: 24px;
    color: #7a5e37;

    padding: 10px;
}

.fab:hover{
    font-size: 32px;
    color: black;

}






